<ion-header>
  <ion-toolbar>
    <ion-title>Panier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let line of getLines()">
      <ion-card [ngClass]="{'is-on': line.produit.availability, 'is-off': !line.produit.availability}">
        <ion-card-header>{{line.produit.comments}}</ion-card-header>
        <ion-card-content>
          <p color="primary">
            Unité: {{ line.produit.unit }}
          </p>
          <p color="primary">
            Prix: {{ line.produit.price }}
          </p>
        </ion-card-content>
        <ion-card-content>
          <ion-row>
            <button (click)="lessOnLine(line)">
              <ion-icon name="remove-outline"></ion-icon>
            </button>
            <p padding> {{ line.quantite }} </p>
            <button (click)="moreOnLine(line)">
              <ion-icon name="add-outline"></ion-icon>
            </button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
