<ion-header>
  <ion-toolbar>
    <ion-icon size="large" fill="outline" slot="end" name="cart"></ion-icon>
    <img class="logo" src="../../assets/logo thibault.png" />
  </ion-toolbar>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap"
    rel="stylesheet"
  />
</ion-header>

<ion-content class="parent">
  <ion-grid>
    <ion-row>
      <h1>{{restaurant.name}}<br /></h1>
    </ion-row>

    <ion-row>
      <img [src]="restaurant.image" />
    </ion-row>

    <ion-row class="description">
      <p>{{ restaurant.description }}</p>
    </ion-row>
  </ion-grid>
</ion-content>
