<ion-header>
  <app-bar [title]="produit.name"></app-bar>
</ion-header>

<ion-content padding>
  <ion-card [ngClass]="{'is-on': produit.availability, 'is-off': !produit.availability}">
    <ion-label>{{produit.comments}}</ion-label>
    <ion-card-content>
      <p color="primary">Unité: {{ produit.unit }}</p>
      <p color="primary">Prix: {{ produit.price }}</p>
      <p color="primary">Vendeur: {{ produit.owner }}</p>
      <p color="primary">Remise: {{ produit.discount }}</p>
    </ion-card-content>
    <ion-card-content>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
          <app-number-control [produit]="produit"></app-number-control>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>