<app-bar [showBack]="false"></app-bar>

<ion-content class="fond_decran">
  <div class="parent">
    <div class="A">
      <h1>Bateau Thibault</h1>
      <p>
        lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
      </p>
    </div>

    <div class="B">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="card5" (click)="onGoToProduitPromo()">
              <ion-icon name="bag-handle-outline"></ion-icon>
              <!-- <img  src="https://dl.dropbox.com/s/2v4ux145trj86tl/ic1.png"/> -->
              <ion-card-header>
                <ion-card-title align-text="center">Produit et Promotion</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-card class="card1" (click)="onGoToBateaux()">
              <ion-icon name="boat-outline"></ion-icon>
              <!-- <img  src="https://dl.dropbox.com/s/2v4ux145trj86tl/ic1.png"/> -->
              <ion-card-header>
                <ion-card-title align-text="center">Bateaux</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col>
            <ion-card class="card2" (click)="onGoToRestaurants()">
              <ion-icon name="pizza-outline"></ion-icon>
              <!-- <img  src="https://dl.dropbox.com/s/vs96h2qhx548c43/ic2.png" /> -->
              <ion-card-header>
                <ion-card-title align-text="center">Restaurants</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col col-3>
            <ion-card class="card3" (click)="onGoToRecettes()">
              <ion-icon name="book-outline"></ion-icon>
              <!-- <img src="https://dl.dropbox.com/s/bhcc0gtvny7xxmg/ic3.png" /> -->
              <ion-card-header>
                <ion-card-title align-text="center">Recettes</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>

          <ion-col col-4>
            <ion-card class="card4" (click)="onGoToContact()">
              <ion-icon name="call-outline"></ion-icon>
              <!-- <img src="https://dl.dropbox.com/s/bhcc0gtvny7xxmg/ic3.png" /> -->
              <ion-card-header>
                <ion-card-title align-text="center">Contact</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>