<app-bar [title]="recette.name"></app-bar>

<ion-content class="parent">
  <ion-grid>
    <ion-row>
      <h1>{{recette.name}}<br /></h1>
    </ion-row>

    <ion-row>
      <img [src]="recette.image" />
    </ion-row>

    <ion-row class="description">
      <p color="primary" *ngFor="let ingredients of recette.Ingredients">
        {{ ingredients }}<br />
      </p>
      <p color="primary" *ngFor="let etapes of recette.Etapes">
        {{ etapes }}<br />
      </p>
    </ion-row>
  </ion-grid>
</ion-content>
